<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/style.css" />
		<title>Phone Book</title>
	</head>
	<body>
		<h1>Welcome to Phone Book</h1>

		<div id="myModal" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>
				<form action="/api/persons" method="POST" class="form">
					<h3>Add New Entry here</h3>
					<input
						type="text"
						placeholder="Name of the person"
						required
						name="name"
						class="input"
					/>
					<br />
					<input
						type="text"
						placeholder="Enter the phone Number"
						required
						name="number"
						class="input"
					/>
					<br />
					<input type="submit" class="button" />
				</form>
			</div>
		</div>

		<h2>
			Phone Book Table<img
				src="https://img.icons8.com/ios/25/000000/add--v1.png"
				class="add-button"
				title="Add New Entry"
			/>
		</h2>

		<table>
			<tr>
				<th>Name</th>
				<th>Number</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>

			<% for(var i = 0; i < data.length; i++) {%>
			<tr>
				<td><%= data[i].name %></td>
				<td><%= data[i].number %></td>
				<td class="edit">
					<img
						src="https://img.icons8.com/material-outlined/24/000000/edit.png"
					/>
				</td>
				<td class="trash">
					<img
						src="https://img.icons8.com/material-rounded/24/000000/filled-trash.png"
					/>
				</td>
			</tr>

			<% } %>
		</table>
		<div id="myModal2" class="modal">
			<!-- Modal content -->
			<div class="modal-content">
				<span class="close">&times;</span>

				<form>
					<h3>Update Your Number Here</h3>
					<input
						type="text"
						placeholder="Enter the phone Number to update"
						required
						name="number"
						class="update-number"
					/>
					<br />
					<input type="submit" class="update-submit" />
				</form>
			</div>
		</div>

		<script src="/main.js"></script>
	</body>
</html>
