table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}
.form-update {
	display: none;
}
.trash {
	cursor: pointer;
}
.edit {
	cursor: pointer;
}

.input,
.update-number {
	padding: 10px 200px 10px 20px;
	margin-bottom: 20px;
}

form {
	margin-left: 20px;
}

.button,
.update-submit {
	margin-left: 90px;
	padding: 10px 80px;
	border-radius: 20px;
	border: 1px solid salmon;
	cursor: pointer;
}

.form-post-none {
	display: none;
}
